body {
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}

p {
    line-height: 28.5px;
    letter-spacing: 0.35px;
}

footer {
    text-align: center;
    padding-top: 30px;
}

hr {
    color: #EEEDDE;
    border-style: solid;
    border-width: 5px;
    margin: 40px 30% 40px 30%;
}

/* Menu table section */

table {
    border-collapse: collapse;
    width: 100%;
    padding: 0 10% 0 10%;
  }
  
th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
width: 100%;
}



/* Main website background image */
.hero-image {
    background-image: url("images/sushihero.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
}

/* Page sections, Catering, Contact, Menu and place with description, bootstrap column*/
.titles {
    text-align: center;
    padding-bottom: 5%;
}

.description {
    padding: 10%;
    background-color: #EEEDDE;
}
.col-md-6 {
    padding: 5%;
}

#about {
    padding-top: 5%;
}


/* Carousel arrows */

.fa-solid{
    font-size: 3rem;
    color:black;
}

/* Desktop navbar and links for menu*/
.mynavbar {
    background-color: rgba(0,0,0,0.5);
    height: auto;
    width: 100%;
}

.menubar {
    display: table;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: black;
}

/* Navbar section for desktop*/

/* .mynavbar .icon {
    display: none;
  } */
  

.hamburger {
    display: none;
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

/* this shows the brand logo */
img.logoimage{
    display: block;
    padding: 25px;
    height: 300px;
    width: 300px;
    margin: auto;
}

.mobile-title {
    display: none;
}

/* Size of map on Place page */
.map-container {
    margin:auto;
    padding: 0 10% 0 10%;
    width: 600px;
    height: 450px;
}


@media only screen and (max-width: 768px){
    
    /* This hides the brand logo and desktop menubar */
    img.logoimage{
        display: none;    
    }

    .menubar {
        display: none;
    }

    /* This section shows hamburger icon along with mobile menubar */
    .hamburger {
        display: block;
        float: right;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .mobile-title {
        display: inline-block;
        font-family:'Open Sans', sans-serif;
        visibility: visible;
        color: white;
        font-size: 25px;
        padding: 20px;
    }
    
    /* changes hero image size for mobile */
    .hero-image {
        background-size: 100%;
        height: 250px;
        width: 100%;
    }

    .map-container {
        margin: auto;
        padding: 0 10% 0 10%;
        width: 100%;
        height: 450px;
    }
    
}