body {
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}

p {
    line-height: 28.5px;
    letter-spacing: 0.35px;
}

footer {
    text-align: center;
}

hr {
    color: #EEEDDE;
    border-style: solid;
    border-width: 5px;
    margin: 40px 30% 40px 30%;
}


table {
    border-collapse: collapse;
    width: 100%;
    padding: 0 10% 0 10%;
  }
  
th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
width: 100%;
}

.fa-solid{
    font-size: 3rem;
    color:black;
}

.menubar {
    display: table;
    margin:0 auto;
}

.description {
    padding: 10%;
    background-color: #EEEDDE;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #EEEDDE;
    color: black;
}


.mynavbar {
    background-color: rgba(0,0,0,0.5);
    height: auto;
    width: 100%;
}

.mynavbar .icon {
    display: none;
  }
  

.hamburger {
    display: none;
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

img.logoimage{
    display: block;
    padding: 25px;
    height: 300px;
    width: 300px;
    margin: auto;
}


.mobile-title {
    display: none;
}


.hero-image {
    background-image: url("images/sushihero.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
}

.col-md-6 {
    padding: 5%;
}

#about {
    padding-top: 5%;
}


@media only screen and (max-width: 768px){
    .hamburger {
        display: block;
        float: right;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    img.logoimage{
        display: none;    
    }

    .mobile-title {
        display: inline-block;
        font-family:'Open Sans', sans-serif;
        visibility: visible;
        color: white;
        font-size: 25px;
        padding: 20px;
    }

    .menubar {
        display: none;
    }
}